.square {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px rgb(107, 85, 98);
    height: 80px;
    width: 80px;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 5em;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    line-height: 80px;
    margin: 0.5rem;
  }

  .x:hover {
    background-color: rgba(223, 100, 235, 0.8);
    box-shadow: 0px 0px 15px rgb(44, 35, 40);
    cursor: pointer;
  }

  .o:hover {
    background-color: rgba(95, 230, 54, 0.8);
    box-shadow: 0px 0px 15px rgb(44, 35, 40);
    cursor: pointer;
  }

@media only screen and (max-width: 750px){
  .x:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .o:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}